In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [21]:
df = pd.read_excel("merged_courses.xlsx")

In [22]:
df.info()  # Thông tin về dữ liệu
df.describe(include="all")  # Thống kê tổng quan
df.head()  # Xem vài dòng đầu

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9612 entries, 0 to 9611
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_title         9612 non-null   object
 1   course_description   704 non-null    object
 2   level                9029 non-null   object
 3   course_objectives    7307 non-null   object
 4   course_requirements  2828 non-null   object
 5   field                9612 non-null   object
dtypes: object(6)
memory usage: 450.7+ KB

,course_title,course_description,level,course_objectives,course_requirements,field
0,Data Engineering with AWS,"Learn to design data models, build data wareho...",intermediate,"AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Intermediate Python, intermediate SQL & comman...",Cloud Computing
1,Product Manager,Envision and execute the development of indust...,beginner,"Product Strategy, Product Design, Product Deve...",NaN,Business
2,C++,Get hands-on experience building five real-wor...,intermediate,"Data Structures & Algorithms, Memory Managemen...",Intermediate Programming,Software Development
3,Business Analytics,Gain foundational data skills like analyzing d...,beginner,"Excel & Spreadsheets, SQL, Data Visualization,...",NaN,Data Science
4,Data Scientist,"Build effective machine learning models, run d...",advanced,"Machine Learning, Deep Learning, Software Engi...","Python, SQL & Statistics",Data Science

In [31]:
df.duplicated().sum()

np.int64(0)

In [24]:
df = df.drop_duplicates()

In [26]:
df['course_description'].fillna("None", inplace=True)
df['course_description'].isnull().sum()

np.int64(0)

In [29]:
df['course_objectives'].isnull().sum()

np.int64(2304)

In [32]:
# Thống kê số lượng giá trị bị trống trong các cột cần kiểm tra
missing_counts = df[['course_description', 'course_requirements', 'course_objectives']].isnull().sum()
print("Số lượng giá trị bị thiếu trước khi điền:")
print(missing_counts)

# Điền giá trị trống bằng "None"
df[['course_description', 'course_requirements', 'course_objectives']] = df[['course_description', 'course_requirements', 'course_objectives']].fillna("None")

# Kiểm tra lại sau khi điền
missing_counts_after = df[['course_description', 'course_requirements', 'course_objectives']].isnull().sum()
print("\nSố lượng giá trị bị thiếu sau khi điền:")
print(missing_counts_after)

Số lượng giá trị bị thiếu trước khi điền:
course_description        0
course_requirements    6777
course_objectives      2304
dtype: int64

Số lượng giá trị bị thiếu sau khi điền:
course_description     0
course_requirements    0
course_objectives      0
dtype: int64

In [33]:
# Thống kê số lượng giá trị bị trống trong các cột cần kiểm tra
missing_counts = df[['level']].isnull().sum()
print("Số lượng giá trị bị thiếu trước khi điền:")
print(missing_counts)

# Điền giá trị trống bằng "Unknow"
df[['level']] = df[['level']].fillna("None")

# Kiểm tra lại sau khi điền
missing_counts_after = df[['level']].isnull().sum()
print("\nSố lượng giá trị bị thiếu sau khi điền:")
print(missing_counts_after)

Số lượng giá trị bị thiếu trước khi điền:
level    543
dtype: int64

Số lượng giá trị bị thiếu sau khi điền:
level    0
dtype: int64

In [36]:
df['level'] = df['level'].replace("None", "Unknown")

In [39]:
df['course_description'] = df['course_description'].replace("Nonene", "None")

In [37]:
# Đếm số lượng giá trị "None" trong từng cột
none_counts = (df[['course_title','course_description', 'course_requirements', 'course_objectives', 'level', 'field']] == "None").sum()

# In kết quả
print("Số lượng dữ liệu được điền là 'None' ở từng cột:")
print(none_counts)

Số lượng dữ liệu được điền là 'None' ở từng cột:
course_title              0
course_description        0
course_requirements    6777
course_objectives      2304
level                     0
field                     0
dtype: int64

In [40]:
none_rows = df[(df['course_requirements'] == "None") & (df['course_objectives'] == "None")]

# Hiển thị số lượng dòng thỏa điều kiện
print(f"Số dòng có 'None' ở cả hai cột: {len(none_rows)}")

# Hiển thị vài dòng đầu tiên
none_rows.head()

Số dòng có 'None' ở cả hai cột: 2304

,course_title,course_description,level,course_objectives,course_requirements,field
3285,mobilites vehicules electriques,None,Beginner,None,None,Other
3286,cartographie,None,Beginner,None,None,Other
3287,statistical mechanics,None,Mixed,None,None,Other
3288,ecological and energetical transitions in sout...,None,Intermediate,None,None,Other
3289,transiciones energeticas y ecologicas en los p...,None,Intermediate,None,None,Other

In [41]:
df = df[~((df['course_requirements'] == "None") & (df['course_objectives'] == "None"))]

In [42]:
print(f"Số dòng sau khi lọc: {len(df)}")

Số dòng sau khi lọc: 7015

In [6]:
df1 = pd.read_excel("cleaned_courses.xlsx")

In [7]:
df1.info()  # Thông tin về dữ liệu
df1.describe(include="all")  # Thống kê tổng quan
df1.head()  # Xem vài dòng đầu

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5987 entries, 0 to 5986
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_title         5987 non-null   object
 1   course_description   613 non-null    object
 2   level                5987 non-null   object
 3   course_objectives    5987 non-null   object
 4   course_requirements  1860 non-null   object
 5   field                5987 non-null   object
 6   Unnamed: 6           1 non-null      object
dtypes: object(7)
memory usage: 327.5+ KB

,course_title,course_description,level,course_objectives,course_requirements,field,Unnamed: 6
0,Data Engineering with AWS,"Learn to design data models, build data wareho...",intermediate,"AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Intermediate Python, intermediate SQL & comman...",Cloud Computing,NaN
1,Product Manager,Envision and execute the development of indust...,beginner,"Product Strategy, Product Design, Product Deve...",NaN,Business,NaN
2,C++,Get hands-on experience building five real-wor...,intermediate,"Data Structures & Algorithms, Memory Managemen...",Intermediate Programming,Software Development,NaN
3,Business Analytics,Gain foundational data skills like analyzing d...,beginner,"Excel & Spreadsheets, SQL, Data Visualization,...",NaN,Data Science,NaN
4,Data Scientist,"Build effective machine learning models, run d...",advanced,"Machine Learning, Deep Learning, Software Engi...","Python, SQL & Statistics",Data Science,NaN

In [11]:
import pandas as pd

file_path = "cleaned_courses.xlsx"  # Đường dẫn file gốc

# Đọc file Excel
df = pd.read_excel(file_path)

# Chuyển toàn bộ dữ liệu thành chữ thường
df = df.map(lambda x: str(x).lower() if isinstance(x, str) else x)

# Lưu lại file (ghi đè)
df.to_excel(file_path, index=False)

print(f"Đã chuyển đổi thành chữ thường và lưu lại vào: {file_path}")

Đã chuyển đổi thành chữ thường và lưu lại vào: cleaned_courses.xlsx